{% extends "base.html" %}

{% block title %}Post Details{% endblock %}

{% load static %}
{% block scripts %}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var user_authenticated = "{{ user.is_authenticated }}";
        var user_author = "{{ user.get_author }}";
        var host = "{{ host }}"; 
        var commentsSectionSize = '{{ request_size }}';
    </script>
    <script type = "text/javascript" src = "{% static 'posts/post.js' %}"></script>
{% endblock %}

{% block content %}
    {% if request_prev_page or request_next_page %}
    <div class="page-links">
        {% if request_prev_page %}
            <div class="left-paginator">
                <a href="{{ request_prev_page_link }}"><- {{ request_prev_page }} -></a>
            </div>
        {% endif %}
        {% if request_next_page %}
            <div class="right-paginator">
                <a href="{{ request_next_page_link }}"><- {{ request_next_page }} -></a>
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if post %}
        <div class="post" post-id="{{post.id}}" author-id="{{post.author.id}}">
            <div class="post-header">
                <div class="row">
                    <div class="col">
                        <h2>Post title: {{ post.title }}</h2>
                        <p class="field-label"><strong>By: </strong><a class="author-link" href="{{host}}/site/authors/{{ post.author.id }}">{{ post.author.displayName }}</a></p>
                    </div>
                    <div class="col-3 col-btn">
                        {% if userAuthor and userAuthor.id == post.author.id %}
                            <a href="{{host}}/site/posts/editpost/{{post.id}}"><button type="button" class="btn">Edit post</button></a>
                            <a href="{{host}}/site/posts/deletepost/{{post.id}}"><button type="button" class="btn" onclick="return confirm('Are you sure?');">Delete post</button></a>
                        {% endif %}
                        {% if userAuthor %}
                        <select id="sharedropdown">
                            <option value="" selected disabled hidden>Choose here</option>
                        </select>
                        <button type="button" class="btn" id="sharepostbtn">Share Post</button>
                        <script>
                            var authorDropDown = document.getElementById("sharedropdown");
                            var author;
                            var url;
                            var post;
                            var map = new Map();
                            if('{{post.visibility}}'==='FRIENDS'){
                                url = '{{host}}' + '/author/'+ '{{ userAuthor.id }}' + '/followers';
                                fetch(url,{
                                    method: 'GET',
                                    headers: {
                                        'Content-Type' : 'application/json',
                                        'X-CSRFToken' : "{{ csrf_token }}"
                                    } 
                                })
                                .then(function(response){
                                    return response.json();
                                })
                                .then(function(data){
                                    followersInJson = data["data"];
                                    for(let follower of followersInJson){
                                        var urlToCheckIfFollowsBack = '{{host}}'+"/author/" + follower.id +'/followers/'+'{{ userAuthor.id }}';
                                        fetch(urlToCheckIfFollowsBack,{
                                            method: 'GET',
                                            headers: {
                                            'Content-Type' : 'application/json',
                                            'X-CSRFToken' : "{{ csrf_token }}"
                                            }, 
                                        })
                                        .then(function(response){
                                            return response.json();
                                        })
                                        .then(function(data){
                                            if(data.id==='{{ author.id }}'){
                                                option = document.createElement("option");
                                                option.value = follower.displayName;
                                                option.innerHTML = followers.displayName;
                                                map.set(option.value,follower);
                                                authorDropDown.appendChild(option);
                                            }
                                        })
                                    }
                                })
                                .catch(function(e){
                                    
                                })
                        }
                        else{
                            url = '{{host}}'+'/authors';
                            fetch(url,{
                                method: 'GET',
                                headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : "{{ csrf_token }}"
                                }, 
                            })
                            .then(function(response){
                                return response.json();
                            })
                            .then(function(data){
                                authorsInJson = data.data;
                                for(let author of authorsInJson){
                                    option = document.createElement("option");
                                    option.value = author.displayName;
                                    option.innerHTML=author.displayName;
                                    map.set(option.value,author);
                                    authorDropDown.appendChild(option); 
                                }
                            })
                            .catch(function(e){

                            })
                        }
                        document.getElementById("sharepostbtn").onclick = function(){
                            author = map.get(authorDropDown.value);
                            url = '{{post.host}}'+'/author/'+'{{post.author.id}}'+'/posts/'+'{{post.id}}/';
                            fetch(url,{
                                    method: 'GET',
                                    headers: {
                                    'Content-Type' : 'application/json',
                                    'X-CSRFToken' : "{{ csrf_token }}"
                                    },
                            })
                            .then(function(response){
                                return response.json();
                            })
                            .then(function(data){
                                post=data.data;
                                postString = JSON.stringify(post);
                                var urlToPostInboxItem = author.host +"/author/" + author.id +'/inbox';
                                if(author.host === '{{host}}'){
                                    fetch(urlToPostInboxItem,{
                                        method: 'POST',
                                        headers: {
                                        'Content-Type' : 'application/json',
                                        'X-CSRFToken' : "{{ csrf_token }}"
                                        },
                                        body: postString 
                                    })
                                }
                                else{
                                    if(author.host==="https://glowing-palm-tree1.herokuapp.com/"){
                                        urlToPostInboxItem = author.host +"/service/author/" + author.id +'/inbox/';
                                    } 
                                    else {
                                        urlToPostInboxItem = author.host +"/author/" + author.id +'/inbox/';
                                    }
                                    fetch(urlToPostInboxItem,{
                                        method: 'POST',
                                        headers: {
                                        'Content-Type' : 'application/json',
                                        'X-CSRFToken' : "{{ csrf_token }}"
                                        },
                                        body: postString 
                                    })
                                }
                            })
                        }
                        </script>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>
            
            <div class="post-body">
                <p class="field-label"><strong>Post description: </strong>{{post.description}}</p>
                {% if post.contentType != "text/plain" %}
                <div class="post-image">
                    <img src='{{ post.content }}' alt="Post image" />
                </div>
                {% else %}
                <p class="field-label"><strong>Post Content: </strong></p>
                <p>{{post.content}}</p>
                {% endif %}
            </div>

            <hr>
            
            <div>
                <button id="{{post.id}}-like-button" type="submit" name="post_id" value="{{post.id}}" class="btn"><span id="like-count-{{post.id}}">{{post.num_likes}}</span> | Like</button>
                <button type="button" class="btn" id="addcomment-{{post.id}}">Add comment</button>
            </div>
        </div>

        <div class="comments-section">
            <p class="field-label"><b>Comments: </b></p>
            <div id="comments-of-{{post.id}}">
                {% for comment in post.page_comments %}
                    <div class="comment">
                        <p><a class="author-link" href="{{host}}/site/authors/{{ comment.author.id }}">{{ comment.author.displayName }}</a>: {{comment.comment}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <p>Post is not available.</p>
    {% endif %}

    {% if request_prev_page or request_next_page %}
        <div class="page-links">
            {% if request_prev_page %}
                <div class="left-paginator">
                    <a href="{{ request_prev_page_link }}"><- {{ request_prev_page }} -></a>
                </div>
            {% endif %}
            {% if request_next_page %}
                <div class="right-paginator">
                    <a href="{{ request_next_page_link }}"><- {{ request_next_page }} -></a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
